{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "jsx-a11y",
    "react-hooks",
    "prettier"
  ],
  "rules": {
    "object-curly-newline": "off",
    "max-len": "off",
    "no-shadow": "off",
    "no-use-before-define": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "react/jsx-no-duplicate-props": [
      "error",
      {
        "ignoreCase": false
      }
    ],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "html": "enforce",
        "custom": "ignore"
      }
    ],
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true,
        "reservedFirst": true,
        "shorthandFirst": true
      }
    ],
    "react/display-name": [
      "off"
    ],
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [
          ">",
          "}"
        ]
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          [
            "builtin",
            "external",
            "internal",
            "unknown"
          ],
          "parent",
          [
            "sibling",
            "index"
          ]
        ],
        "newlines-between": "never"
      }
    ],
    "react/require-default-props": "off",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "@material-ui/core",
            "message": "You are not allowed to use Material UI direcly."
          },
          {
            "name": "@material-ui/icons",
            "message": "Please import each icon component separately."
          },
          "lodash"
        ],
        "patterns": [
          "@material-ui/*/*/*",
          "!@material-ui/core/colors/*",
          "!@material-ui/core/styles/*"
        ]
      }
    ],
    "jsx-a11y/control-has-associated-label": [
      2,
      {
        "labelAttributes": [
          "label"
        ],
        "controlComponents": [
          "CustomComponent"
        ],
        "ignoreElements": [
          "audio",
          "canvas",
          "embed",
          "input",
          "textarea",
          "tr",
          "video"
        ],
        "ignoreRoles": [
          "grid",
          "listbox",
          "menu",
          "menubar",
          "radiogroup",
          "row",
          "tablist",
          "toolbar",
          "tree",
          "treegrid"
        ],
        "depth": 3
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "index.ts{,x}",
        "config.ts{,x}"
      ],
      "rules": {
        "import/prefer-default-export": [
          "off"
        ]
      }
    }
  ]
}